{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Templates / pastas -->
    {% include 'rotas/includes/_head.html' %}
</head>

<body>
    {% include 'rotas/includes/_nav.html' %}
    {% include 'rotas/includes/_footer.html' %}
    <!-- Scripts -->
    <!-- Scripts externos e inicializacao do mapa e rotas -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-m0Rvr2zbZG32zBnZBLEb1Jr94Q0bA2d1Sz6HtF0aoNU=" crossorigin=""></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>